div.common-headline {

    h1 {
        font-size: 39px;
        font-weight: 300;
        line-height: 35px;
    }

    h2 {
        font-size: 33px;
        font-weight: 300;
        line-height: 31px;
    }

    h3 {
        font-size: 30px;
        font-weight: 300;
        line-height: 29px;
    }

    h4 {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.1em;
        line-height: 19px;
        text-transform: uppercase;
    }

    h5 {
        font-size: 27px;
        font-weight: 400;
        letter-spacing: 0.045em;
        line-height: 28px;
    }

    h6 {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.1em;
        line-height: 14px;
        text-transform: uppercase;
    }



    &--color-blue {
        color: $secondary-blue;
    }

    &--color-black {
        color: $black;
    }

    &--color-white {
        color: $white;
    }



    @include susy-media(1024px) {

        h1 {
            font-size: 57px;
            line-height: 57px;
        }

        h2 {
            font-size: 39px;
            line-height: 35px;
        }

    }



}
