div.banner {

    @include span(full);
    background: $primary-pink;
//     padding-bottom: 139px;
    overflow: hidden;
    position: relative;



/*
    &__wave {

//         background: rgba($black, 0.2);
        bottom: 0;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 140%;

        figure {

            @include span(full);
            background: rgba($black, 0.1);

            svg {
                @include imgscale();
            }

        }

    }
*/



/*
    &__shape {
        background-image: url(../svg/primary-shape-pink-bottom.svg);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 40px;
        height: 130px;
        left: 0;
        transform: translateY(-1px);
        position: absolute;
        width: 110%;
    }
*/



/*
    &__wrap {
        @include span(full);
        background: $primary-pink;
        position: relative;
        z-index: 1;
    }
*/



    &__image {

        @include span(19 no-gutters);
        margin: 165px gutter()*5 40px gutter()*5;

        figure {
            display: block;
            margin: 0 auto;
            max-width: 436px;
            width: 100%;
        }

    }

    &__body {
        @include span(19 no-gutters);
        margin: 0 gutter()*5 80px gutter()*5;
    }

    &__headline {
        @include span(full);
        margin: -5px 0 26px 0;
    }

    &__content {
        @include span(full);
        margin: -6px 0 -25px 0;
    }



    @include susy-media(1024px) {

//         padding-bottom: 260px;

/*
        &__shape {
//             bottom: 40px;
            height: 200px;
        }
*/

        &__image {

            @include span(10 no-gutters last);
            margin: 250px gutter()*5 80px 0;

            figure {
                margin: 0;
                max-width: none;
            }

        }

        &__body {
            @include span(8.5 no-gutters);
            margin: 250px 0 80px gutter()*5;
        }

        &__headline {
            margin-bottom: 32px;
            margin-top: -11px;
        }

    }



}



/*
body.mobile {



}
*/
