div.banner {

    @include span(full);
    padding-bottom: 110px;
    overflow-x: hidden;
    position: relative;

    &__shape {
//         background-color: rgba($black, 0.1);
        background-image: url(../svg/primary-shape-pink-bottom.svg);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        height: 110px;
        left: -1%;
        transform: translateY(-1px);
        position: absolute;
        width: 102%;
    }

    &__wrap {
        @include span(full);
        background: $primary-pink;
        position: relative;
        z-index: 1;
    }

    &__image {

        @include span(19 no-gutters);
        margin: 165px gutter()*5 40px gutter()*5;

/*
        position: relative;

        div.container {
//             background: rgba($white, 0.2);
            max-width: 414px;
        }

        &__desktop {
//             background: rgba(#ff0, 0.2);
            float: left;
            max-width: 396px;
            padding-right: 4.35%;
        }

        &__mobile {
//             background: rgba($white, 0.2);
            bottom: -5px;
            max-width: 132px;
            position: absolute;
            right: -16px;
        }

        figure {
            @include span(full);
        }
*/

        figure {
            display: block;
            margin: 0 auto;
            max-width: 436px;
            width: 100%;
        }

    }

    &__body {
        @include span(19 no-gutters);
        margin: 0 gutter()*5 -30px gutter()*5;
    }

    &__headline {
        @include span(full);
        margin: -5px 0 26px 0;
    }

    &__content {
        @include span(full);
        margin: -6px 0 -24px 0;
    }



    @include susy-media(1024px) {

        padding-bottom: 220px;

        &__shape {
            height: 220px;
        }

        &__image {

            @include span(10 no-gutters last);
            margin: 230px gutter()*5 -50px 0;

            figure {
                margin: 0;
                max-width: none;
            }

        }

        &__body {
            @include span(8.5 no-gutters);
            margin: 230px 0 -50px gutter()*5;
        }

        &__headline {
            margin-bottom: 32px;
            margin-top: -11px;
        }

    }



}



/*
body.mobile {



}
*/
