div.benefits {

    @include span(full);
    overflow: hidden;
    position: relative;

    &__wave {

        float: left;
        font-size: 0;
        line-height: 0;
        position: relative;
        margin-bottom: -1px;
        left: 50%;
        transform: translateX(-50%);
        width: 116%;

        figure {

            @include span(full);
            left: 50%;
            min-width: 600px;
            position: relative;
            transform: translateX(-50%);

            svg {
                @include imgscale();
            }

        }

    }

    &__wrap {
        @include span(full);
        background: $grey-light;
        position: relative;
        z-index: 1;
    }

    &__body {
        @include span(19 no-gutters);
        margin: 40px gutter()*5 40px gutter()*5;
        position: relative;
    }

    &__headline {
        @include span(full);
        margin: -5px 0 26px 0;
    }

    &__content {

        @include span(full);

        dl {

            @include span(full);
            margin: -4px 0 33px 0;

            dt h4 {
                color: $primary-purple;
                margin-bottom: 10px;
            }

            dd p {
                font-size: 16px;
                line-height: 22px;
                padding-bottom: 0;
            }

        }

    }



    @include susy-media(768px) {

        &__content {

            dl {

                margin-right: 60px;
                width: calc(50% - 30px);

                &:nth-child(2n+2) {
                    margin-right: 0;
                }

                &:nth-child(2n+1) {
                    clear: both;
                }

            }

        }

    }



    @include susy-media(1024px) {

        &__body {
            margin-bottom: 110px;
            margin-top: 60px;
        }

        &__headline {
            margin-bottom: 36px;
        }

        &__content {

            dl {

                width: calc(33.33% - 40px);

                &:nth-child(2n+2) {
                    margin-right: 60px;
                }

                &:nth-child(2n+1) {
                    clear: none;
                }

                &:nth-child(3n+3) {
                    margin-right: 0;
                }

                &:nth-child(3n+1) {
                    clear: both;
                }

            }

        }

    }



}
