div.cases {

    @include span(full);
    background: rgba($secondary-blue, 0.05);
    padding: 80px 0;

    &__headline {

        @include span(19 no-gutters);
        margin: -4px gutter()*5 0 gutter()*5;

        h4 {

            padding-bottom: 18px;
            position: relative;

            &:after {
                background: rgba($secondary-blue, 0.15);
                bottom: 0;
                content: '';
                height: 2px;
                left: 0;
                position: absolute;
                width: 60px;
            }

        }

    }

    div.case {

        @include span(full);

        &__image {

            @include span(19 no-gutters);
            margin: 40px gutter()*5;
            max-width: 660px;
            position: relative;

            &__icon {

                top: 50%;
                height: 40px;
                left: 50%;
                position: absolute;
                transform: translateX(-20px) translateY(-20px);
                width: 40px;

                svg {

                    @include imgscale();

                    path {
                        fill: $white;
                        transition: fill $transition;
                    }

                }

            }

            figure {

                @include span(full);
                background: $black;
                box-shadow: 0 10px 20px 0 rgba($black, 0.2);
                overflow: hidden;
                transition: box-shadow $transition;

                img {
                    opacity: 0.8;
                    transition: opacity $transition, transform $transition;
                }

            }

            a {

                display: block;

                &:hover {

                    figure {

                        box-shadow: 0 15px 30px 0 rgba($black, 0.3);

                        img {
                            opacity: 1;
                            transform: scale(1.03);
                        }

                    }

                }

            }

        }

        &__body {
            @include span(19 no-gutters);
            margin: 0 gutter()*5;
            position: relative;
        }

        &__headline {
            @include span(full);
            margin: -5px 0 26px 0;
        }

        &__content {
            @include span(full);
            margin: -6px 0 -24px 0;
        }

    }



    @include susy-media(1024px) {

        padding: 150px 0;

        div.case {

            &__image {

                &__icon {
                    height: 90px;
                    transform: translateX(-45px) translateY(-45px);
                    width: 90px;
                }

            }

            &__headline {
                margin-bottom: 36px;
            }

        }

    }



}



/*
body.mobile {



}
*/
