div.demo {

    @include span(full);
    background-color: $grey-light;
    overflow: hidden;
    position: relative;

    &__wave {

        float: left;
        font-size: 0;
        line-height: 0;
        position: relative;
        margin-bottom: -1px;
        left: 50%;
        transform: translateX(-50%);
        width: 116%;

        figure {

            @include span(full);
            left: 50%;
            min-width: 600px;
            position: relative;
            transform: translateX(-50%);

            svg {
                @include imgscale();
            }

        }

    }

    &__wrap {
        @include span(full);
        background: $primary-pink;
        position: relative;
        z-index: 1;
    }

    &__body {
        @include span(19 no-gutters);
        margin: 40px gutter()*5 80px gutter()*5;
        position: relative;
    }

    &__headline {
        @include span(full);
        margin: -5px 0 26px 0;
    }

    &__content {
        @include span(full);
        margin: -6px 0 -25px 0;
    }

    &__link {
        @include span(full);
        font-size: 0;
        line-height: 0;
        margin-top: 40px;
    }



    @include susy-media(1024px) {

        &__body {
            margin-bottom: 150px;
            margin-top: 60px;
        }

        &__headline {
            margin-bottom: 36px;
        }

    }



}
