div.intro {

    @include span(full);
    background: $white;
    overflow: hidden;
    position: relative;

    &__wave {

        float: left;
        font-size: 0;
        line-height: 0;
        position: relative;
        margin-top: -1px;
        left: 50%;
        transform: translateX(-50%);
        width: 116%;

        figure {

            @include span(full);
            left: 50%;
            min-width: 600px;
            position: relative;
            transform: translateX(-50%);

            svg {
                @include imgscale();
            }

        }

    }

    &__wrap {
        @include span(full);
        position: relative;
        z-index: 1;
    }

    &__body {
        @include span(19 no-gutters);
        margin: 70px gutter()*5 35px gutter()*5;
        position: relative;
    }

    &__headline {
        @include span(full);
        margin: -5px 0 26px 0;
    }

    &__content {
        @include span(full);
        margin: -6px 0 -24px 0;
    }



    @include susy-media(1024px) {

        &__body {
            margin-top: 120px;
        }

        &__headline {
            margin-bottom: 36px;
        }

    }



}



/*
body.mobile {



}
*/
