div.steps {

    @include span(full);
    padding-top: 20px;
    position: relative;

    &__steps {

        @include span(full);
        position: relative;

        div.step {

            @include span(full);
            display: none;
            padding-bottom: 130px;
            text-align: center;

            &__headline {

                @include span(15 no-gutters);
                margin: -4px gutter()*9 26px gutter()*9;

                h5 {
                    color: $black;
                    margin-top: 20px;
                }

            }

            &__content {

                @include span(15 no-gutters);
                margin: -6px gutter()*9 -5px gutter()*9;

                ul {

                    list-style: none;
                    padding-bottom: 0;

                    li:last-child {
                        padding-bottom: 0;
                    }

                }

            }

            &.dam h4 {
                color: $secondary-blue;
            }

            &.talent h4 {
                color: $secondary-pink;
            }

            &.credits h4 {
                color: $secondary-blue-light;
            }

            &.wip h4 {
                color: $secondary-green;
            }

            &.pages h4 {
                color: $secondary-purple;
            }

            &.wall h4 {
                color: $secondary-orange;
            }

            &.brief h4 {
                color: $primary-pink;
            }

        }

    }

    &__control {

        height: 37px;
        position: absolute;
        top: 31px;
        width: 37px;

        a {

            border-radius: 50%;
            box-sizing: border-box;
            display: block;
            height: 100%;
            width: 100%;

            svg {

                display: block;

                path {
                    fill: $primary-blue;
                    transition: fill $transition;
                }

            }

            &:hover svg path {
                fill: $primary-pink;
            }

        }

        &--prev {
            left: gutter()*5;
        }

        &--next {
            right: gutter()*5;
        }

    }



    @include susy-media(1024px) {



    }



}



/*
body.mobile {



}
*/
