div.testimonials {

    @include span(full);
    background: $primary-blue;
    padding: 80px 0;

    &__headline {
        @include span(19 no-gutters);
        margin: -5px gutter()*5 26px gutter()*5;
    }

    &__testimonials {

        @include span(full);
        position: relative;

        div.testimonial {

            @include span(full);
            display: none;
            position: relative;

            &__body {
                @include span(19 no-gutters);
                margin: 0 gutter()*5;
                position: relative;
            }

            &__content {

                @include span(full);
                margin: -6px 0;

                p {

                    color: $white;
                    font-size: 21px;
                    font-weight: 400;
                    letter-spacing: 0.045em;
                    line-height: 26px;

                    &:before {
                        content: '\201C';
                        left: -9px;
                        position: absolute;
                    }

                }

            }

            &__cite {

                @include span(full);
                margin: 40px 0 -5px 0;

                dl {

                    @include span(full);
                    color: $white;
                    font-size: 16px;
                    font-weight: 400;
                    letter-spacing: 0.045em;
                    line-height: 22px;
                    padding: 26px 0 32px 0;
                    position: relative;

                    &:after {
                        background: rgba($white, 0.4);
                        content: '';
                        height: 2px;
                        left: 0;
                        position: absolute;
                        top: 0;
                        width: 60px;
                    }

                    dt {
                        @include span(full);
                    }

                    dd {
                        @include span(full);
                    }

                }

            }

        }

    }

    &__controller {

        float: left;
        margin: 0 gutter()*5;
        text-align: center;

        ul {

            font-size: 0;
            line-height: 0;
            margin: 0 0 -8px -8px;

            li {

                display: inline-block;

                a {

                    display: block;
                    height: 24px;
                    position: relative;
                    width: 24px;

                    span {
                        background: $white;
                        border-radius: 50%;
                        display: inline-block;
                        height: 16px;
                        margin-top: 4px;
                        transform: scale(0.5);
                        transition: background $transition, transform $transition;
                        width: 16px;
                    }

                    &:hover span {
                        transform: scale(0.75);
                    }

                }

                &.selected a span {
                    background: $primary-pink;
                    transform: scale(0.5);
                }

            }

        }

    }



    @include susy-media(1024px) {

        padding: 150px 0;

        &__headline {
            margin-bottom: 36px;
        }

    }



}



/*
body.mobile {



}
*/
