body {

    @include proxima();
    background: $white;
    color: $black;
    font-size: 18px;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    line-height: 24px;
    -webkit-tap-highlight-color: rgba($black, 0);

    a {
        text-decoration: none;
        transition: color $transition;
    }

    img {
        @include imgscale();
    }

    input,
    select,
    textarea {
        @include proxima();
    }

    &.preload * {
        transition: none !important;
    }

}
