$white: #FFF;

$black: #231F20;

$grey: #9B9B9B;
$grey-light: #F9F8FD;

$primary-blue: #16314C;
$primary-purple: #6034AC;
$primary-pink: #FF6058;
$primary-pink-dark: darken($primary-pink, 15%);

$secondary-blue: #224465;
$secondary-blue-light: #42B8EA;
$secondary-purple: #8C1692;
$secondary-pink: #FE83AF;
$secondary-green: #4CDD84;
$secondary-orange: #FFB055;

$transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
$transition-slow: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
$transition-delay: 0.3s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

$susy: (

    columns: 24,
    container: 1200px,
    gutters: 1

);
